<div class="container">
    <div class="page-header">
        <h1>GITHUB USERS </h1>
    </div>
</div>

<div class="col-md-3 col-sm-3 col-xs-8 form-group pull-right top_search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchtext">
        <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
    </div>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Id</th>
            <th>URL</th>
            <th>Html</th>
            <th>Type</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="gitHub in gitHubList|filter:searchtext|itemsPerPage:3">
            <td>{{gitHub.login}}</td>
            <td><img style="height:50px;width:50px;" src="{{gitHub.avatar_url}}"></td>
            <td>{{gitHub.id}}</td>
            <td>{{gitHub.url}}</td>
            <td>{{gitHub.html_url}}</td>
            <td>{{gitHub.type}}</td>
            <td>{{gitHub.score}}</td>
        </tr>
        </tbody>
    </table>
    <dir-pagination-controls class="paging" style="margin-left:400px;"
                             max-size="3"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>
